<entry xmlns="http://www.w3.org/2005/Atom">
  <id>{{ entry_id }}</id>
  <updated>{{ updated }}</updated>
  <title>{{ title }}</title>

  <link rel="http://vaemendis.net/opds-pse/page"
        href="{{ page_href }}"
        type="image/jpeg" />
  <link rel="enclosure" href="{{ page_href }}" type="image/jpeg" />
</entry>
